<div id="container">

<div id="middleCorps">
		
		<SCRIPT type="text/javascript">
		
			function openWindow() {
				window.open("/myges/index/new_support", "Ajouter un support", config='height=42, width=582, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');
				window.close();
			}
			
		</SCRIPT>

		<div id="competence">
			<div id="ligneAccueil">
				<div id="presentation">
				<h3>Vos support en ligne: </h3>
				#if( $user)
					<div><a href="#" onclick="openWindow();" ><img src="../../res/images/ajouter.gif" /></a></div>
					#foreach($item in $iterator)
					#set( $next = $item.next() )
						<h4>$next.getKey()</h4>
						<table cellspacing="0" style="margin: auto;" class="table table-striped table-bordered table-hover">
							<tr>
								<th>Ajoutée le</th>
								<th>Libellé </th>
								<th>Téléchargement </th>
							</tr>
							#foreach($item_ in $next.getValue())
							<tr>
								<td>
									$item_.getDate_support()
								</td>
								<td>
									$item_.getTitle_support()
								</td>
								<td>
									<a href="$item_.getAddr_support()">Telecharger</a>
								</td>
							</tr>
							#end	
						</table>
					#end
				#else 
					<span class="info">Veuillez vous connectez pour acceder a vos supports de ligne.</span>
				#end
				
				</div>
			</div>
		</div>
	</div>
</div>
